$primary: #b205f3;
$secondary: #6c00cc;
$success: #00b700;
$danger: #ff3b3b;
$warning: #ffc107;
$info: #5ed845;
$light: #f7f7f7;
$dark: #343a40;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
